.vflight-suggested-result-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}


.vflight-suggested-result {
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.vflight-suggested-result:hover {
    background-color: #464646 !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.classic-tabs .nav li:first-child {
    margin-left: 56px;
}

.classic-tabs .nav {
    overflow-x: hidden;
}

.classic-tabs .nav {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: .3rem .3rem 0 0;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.classic-tabs .nav.tabs-cyan li a.active {
    border-color: #ffeb3b;
}

.classic-tabs .nav li a.active {
    color: #fff;
    border-bottom: 3px solid;
    border-bottom-color: currentcolor;
}

.classic-tabs .nav li a {
    display: block;
    padding: 20px 24px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
}

.fleet-aicraft-image {
    width: 100%;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vflight-header-color {
    background-color: #343434 !important;
}

.vflight-body-color {
    background-color: #232323 !important;
}

.btn-vflight2 {
    color: #fff;
    background-color: #50ba50 !important;
}

.text-vflight-gray {
    color: #d3d3d3 !important;
}

.border-left {
    border-left: 1px solid #5a6374 !important;
}

.border-right {
    border-right: 1px solid #5a6374 !important;
}

.border-top {
    border-top: 1px solid #5a6374 !important;
}

.border-bottom {
    border-bottom: 1px solid #5a6374 !important;
}

.testimonial-card .card-up {
    height: 300px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card-image {
    background-size: cover;
    background-position: center;
}

.testimonial-card .avatar {
    position: absolute;
    width: 150px;
    margin-top: -90px;
    overflow: hidden;
    border: 10px solid #212121;
    border-radius: 100%;
    margin-left: 30px;
}


    .testimonial-card .avatar img {
        width: 100%;
    }



/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 0px) and (max-width: 767.98px) {
    .testimonial-card .card-up {
        height: 150px;
    }


    .testimonial-card .avatar {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.rotate-icon {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
}

.collapsed .rotate-icon {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.ui-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
}


.ui-menu-item {
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

    .ui-menu-item:hover {
        background-color: #464646;
    }

.ui-autocomplete {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 999 !important;
}


